body,h2,ul,p.footer-text, header h1{
    margin: 0;
}

header, footer, ul:first-child{
    text-align: center;
}

li.main-nav, p.content-text, li.content-li{
    font-size: 1.125em;
}
a#logo-style, li.main-nav{
    display: inline-block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0051BB;
}

a#logo-style{
    padding: 0.938em 0;
}
a:visited{
    color: blue;
}
h3{
    margin-top: 0.938em;
}
h3.h3-home{
    margin: 1.125em 0 0 0;
}

h2:first-child{
    padding-top: 0.938em;
    font-weight: normal;
}

header h1{
    padding-bottom: 0.625em;
    font-size: 2.2em;
    color: white;
}

nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

ul{
    list-style: none;
    padding: 0;
}

li.main-nav:nth-child(2){
    border-left: 0.125em solid black ;
    border-right: 0.125em solid black;
}

li.main-nav{
    padding: 0.750em 0.813em;
    font-weight: bolder;
}
img{
    display: block;
    margin: 0 auto;
}
div#info-div{
    padding: 0.313em 0;
    margin: 0 5.000em;
}

p.content-text{
    line-height: 1.5em;
}

li.content-li{
    padding-top: 0;
    margin: 0 1.063em;
    list-style: initial;
}

footer{
    background-color:rgba(0,0,0,.2);
}
