body,h2,ul,p.footer-text, header h1{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-color: #0051BB;
}
a#logo-style{
    display: inline-block;
    padding: 15px 0;
}
a:visited{
    color: blue;
}
h3{
    margin-top: 15px;
}
h3.h3-home{
    margin: 18px 0 0 0;
}

h2:first-child{
    padding-top: 15px;
    font-weight: normal;
}

header h1{
    /* margin-top: 10px; */
    padding-bottom: 10px;
    font-size: 2.2em;
    color: white;
}

nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

ul{
    list-style: none;
    padding: 0;
}

ul:first-child{
    text-align: center;
}

li.main-nav:nth-child(2){
    border-left: 2px solid black ;
    border-right: 2px solid black;
}

li.main-nav{
    display: inline-block;
    padding: 12px 13px;
    font-size: 18px;
    font-weight: bolder;
}
img{
    display: block;
    /* width: 100%; */
    margin: 0 auto;
}
div#info-div{
    padding: 5px 0;
    margin: 0 80px;
}

p.content-text{
    font-size: 18px;
}

li.content-li{
 padding-top: 0;
 margin: 0 17px;
 list-style: initial;
 font-size: 18px;
}

footer{
text-align: center;
background-color:rgba(0,0,0,.2);
}
