/*  */
/* Desktop & Laptop */
/*  */
body,h2,ul,p.footer-text, header h1{
    margin: 0;
}

header, footer, ul:first-child{
    text-align: center;
}

p.content-text, li.content-li,p.footer-text{
    font-size: 1.125em;
}

li.content-li,p.content-text, footer{
    line-height: 1.5em;
}

a#logo-style, li.main-nav{
    display: inline-block;
}

body{
    font-family: Helvetica, sans-serif;
}

header, a:visited, nav{
    background-color: #0051BB;
}
a#logo-style, h1{
    color: white;
}

a#logo-style{
    padding: 0.938em 0;
}

h3{
    margin: .96155em 0;
    text-decoration: underline;
}

h2:first-child{
    padding-top: 0.938em;
    font-weight: normal;
}

h1{
    padding-bottom: 0.625em;
    font-size: 2.45em;
}

nav{
    border-top: 1px solid grey;
}

ul{
    list-style: none;
    padding: 0;
}

li.main-nav:nth-child(2){
}

li.main-nav{
    padding: 0.750em 2em;
    font-weight: bolder;
    font-size: 1.4em;
}

li.main-nav a{
    text-decoration: none;
    color: #4C9AFF;
}

img{
    display: block;
    margin: 0 auto;
}

#main-image{
    width: 91%;
}

div#info-div{
    margin: 0 3.6em;
}

p{
    font-family: serif;
}

li.content-li{
    padding-top: 0;
    margin: 0 1.063em;
    list-style: initial;
}

footer{
    background-color:rgba(0,0,0,.2);
    margin-top: 1.25em;
    padding: 1.25em 0;
}
/*  */
/* Styles for various screens */
/*  */

@media(min-width: 1400px) and (max-width: 2000px){
    h1{
        font-size: 3.6em;
    }
    p.content-text, p.footer-text, li.content-li, div#info-div a{
        font-size: 1.5em;
    }
    h3, li.main-nav{
        font-size: 2em;
    }
    #logo-img{
        width: 150%;
    }
    a#logo-style{
        margin-right: 15em;
    }
    #main-image{
        width: 92%;
    }
    div#info-div{
        margin: 0 3.9em;
    }
    p.footer-text{
        line-height: 1.3em;
    }
}

/*  */
/* Mobile Design */
/*  */
@media(min-width: 320px) and (max-width: 789px){
    #logo-img{
        width: 16em;
    }
    p.content-text, li.content-li,p.footer-text{
        font-size: 1em;
    }
    h1{
        font-size: 1.2em;
    }
    div#info-div{
        margin: 0 2.5em;
    }
    #main-image{
        width: 100%;
    }
    ul{
        display: block;
    }
    li.main-nav:nth-child(2){
     border-top: 2px solid black;
     border-bottom: 2px solid black;
     border-left: 0;
     border-right: 0;
    }
    li.main-nav{
        display: block;
        letter-spacing: normal;
    }
    footer{
        padding: 1em 2.5em;
    }
}

@media(min-width: 401px) and (max-width: 480px){
    #logo-img{
        width: 21em;
    }
    h1{
        font-size: 1.5em;
    }
}

@media(min-width: 350px) and (max-width: 400px){
    #logo-img{
        width: 20em;
    }
    h1{
        font-size: 1.45em;
    }
}
/*  */
/* Tablets */
/*  */
@media(min-width: 700px) and (max-width: 883px){
    li.main-nav{
        padding: 0.750em 2em;
        font-weight: bolder;
        font-size: 1.25em;
    }
    div#info-div{
        margin: 0 2.5em;
    }
    p.footer-text{
        font-size: 1.125em;
    }
}
